*{  margin: 0;
padding: 0;
}
body{ background-color:#262626;
padding: 0px;
text-align: center;
}
#hacheuno{
margin: 20px 10px 5px 10px;
padding-right: 10px;
display: inline-block;
background-color:#3f3f3f;
color: #c0c0c0;
font-size: 32px;
font-family: 'Ubuntu', sans-serif;
border-radius: 3px;
margin-top: 50px;
}
#papito{
margin-top: 50px;
background-color:#3f3f3f;
text-align: center;
}
#Padre-arriba{
margin: 0 auto;
width: 610px;
}
.cuadro-verde{
display: inline-block;
width: 200px;
background-color: #00957e;
right: 20px;
height: 100px;
margin: 0px;
}
.cuadro-circulo{
display: inline-block;
background-color: pink;
width: 200px;
height: 100px;
margin: 0px;
}
#padre-medio{
width: 610px;
margin: 0 auto;
}
.cuadro-rosa{
display: inline-block;
width: 200px;
background-color: pink;
right: 20px;
height: 100px;
margin: 0px;
}
#padre-abajo{
width: 610px;
margin: 0 auto;
}
.cuadro-x{
display: inline-block;
background-color:#00957e;
display: inline-block;
width: 200px;
height: 100px;
margin: 0px;
}