* {
	margin:0;
	padding:0;
}

body{
	background-image: url('img/fondo.jpg');
}
#container{
	width: 80%;
	margin:0 auto;
	overflow: auto;
	background-color: #FFCC66;
}

#logo{
	width: 15%;
	height: 140px;
	float: left;

}

#logo img{
	padding: 5px 30px;
}
#menu{
	width: 85%;
	float: left;
	height: 140px;
	text-align: center;	
	/*background-color: pink;*/
}


ul#submenu{
	display: inline-block;
}

ul#submenu li{
 	display: inline-block;
	list-style: none;
	padding: 60px 30px; 
}

ul#submenu li a{
	text-decoration: none;
	font-family: sans-serif;
	font-size: 30px;
	padding: 60px 30px;
	color: #800000;
}

ul#submenu li:hover{
	list-style: none;
	padding: 60px 30px; 
	background-color: rgba(255,255,255,0.5);

}


/*ul#submenu ul {
	display: none;
}*/